<div class="tag-list-container rounded p-3">
  <p class="fs-5">Popular tags</p>
  <div class="box-tag d-flex flex-wrap">
    <button
      *ngFor="let tag of tagList"
      [ngClass]="{
        active: tagService.currentTag === tag
      }"
      class="btn btn-secondary me-2 mb-2 btn-tag"
      (click)="handleSelectTag(tag)"
    >
      {{ tag }}
    </button>
  </div>
</div>
