.tag-list-container {
  background-color: #f3f3f3;
  .btn {
    font-size: 12px !important;
    box-shadow: none;
  }
  .btn-tag.active {
    background-color: #5cb85c;
    pointer-events: none;
  }
}
