.article-page {
  .banner {
    .article-meta {
      .info {
        .date {
          font-size: 12px;
        }
      }
    }
  }

  img {
    width: 40px;
  }

  .btn {
    box-shadow: none;
    margin-right: 15px;
  }
}
.hover-green:hover{
  transition: 0s;
  color: #5cb85c !important;
  text-decoration: underline !important;
}
