<div class="article-page">
  <div class="banner bg-dark py-5">
    <div class="container">
      <h1 class="text-white fs-1 pb-4">{{ article?.title }}</h1>
      <div class="article-meta d-flex">
        <a href="#"><img class="rounded-circle" [src]="article?.author?.image" [alt]="article.author.username" /></a>
        <div class="info me-4 ms-3">
          <a href="/profile/{{article.author.username}}" class="author text-white text-decoration-none hover-green">{{
            article.author.username
            }}</a>
          <span class="date text-white-50 d-block">{{
            article.createdAt | date: "longDate"
            }}</span>
        </div>
        <ng-container *ngTemplateOutlet="multiTimes"></ng-container>
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content my-5">
      <div class="col-md-12">
        <p class="fs-5">
          {{ article.body }}
        </p>
      </div>
    </div>
    <hr />
    <div class="article-actions mt-3 mb-5 d-flex justify-content-center">
      <div class="article-meta d-flex">
        <a href="#"><img class="rounded-circle" [src]="article.author.image" [alt]="article.author.username" /></a>
        <div class="info me-4 ms-3">
          <a href="/profile/{{article.author.username}}" class="author text-black text-decoration-none hover-green">{{
            article.author.username
            }}</a>
          <span class="date text-black-50 d-block">{{
            article.createdAt | date: "longDate"
            }}</span>
        </div>
        <ng-container *ngTemplateOutlet="multiTimes"></ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <app-comment-detail [slug]="article.slug"></app-comment-detail>

        <ng-container *ngIf="authorArticle; else guest">
          <form class="card comment-form">
            <div class="card-block">
              <textarea class="form-control py-3" placeholder="Write a comment..." rows="3" #comment></textarea>
            </div>
            <div class="card-footer py-3">
              <img src="" class="comment-author-img" />
              <button class="btn btn-sm btn-success" (click)="handleAddComment(comment, article.slug)">
                Post Comment
              </button>
            </div>
          </form>
        </ng-container>

        <ng-template #guest>
          <p class="fs-5">
            <a [routerLink]="['/user/login']" class="text-success">Login</a> or
            <a [routerLink]="['/user/register']" class="text-success">Sign up</a>
            to add comments on this article
          </p>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- template lặp lại nhiều lần -->
<ng-template #multiTimes>
  <ng-container *ngIf="authorArticle !== article.author.username; else sameAuthor">
    <button class="btn btn-sm btn-outline-secondary" (click)="handleFollow(article, isFollow)">
      {{
      !isFollow
      ? "Follow " + article.author.username
      : "Unfollow " + article.author.username
      }}
    </button>
    <button class="btn btn-sm btn-outline-success" (click)="handleFavorite(article)">
      {{ article.favorited ? "Unfavorite Article" : "Favorite Article" }}
      <span class="counter">({{ article.favoritesCount }})</span>
    </button>
  </ng-container>

  <ng-template #sameAuthor>
    <button class="btn btn-sm btn-outline-secondary" (click)="handleEditArticle(article.slug)">
      <fa-icon [icon]="faEdit"></fa-icon> Edit Article
    </button>
    <button class="btn btn-sm btn-outline-danger" (click)="handleDeleteArticle(article.slug)">
      <fa-icon [icon]="faTrashAlt"></fa-icon> Delete Article
    </button>
  </ng-template>
</ng-template>