.setting-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
    label{
        font-size: 1.3rem;
        font-weight: 500;
    }
    input {
        height: 3rem;
        width: 200px;
        max-width: 100%;
        font-size: 1.3rem;
        padding-left: 0.5rem;
    }
}
