<div class="setting-container">
  <label for="limit">Limit per page:</label>
  <input type="number" id="limit" [(ngModel)]="limit">
  <button class="btn btn-lg btn-primary" (click)="onClick()">Save changes</button>
</div>