<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-center">Sign up</h1>
        <p class="text-center">
          <button class="switchTab-btn" (click)="toLogin()">
            Have an account?
          </button>
        </p>

        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="register">
          <fieldset class="form-group">
            <input class="my-4" formControlName="username" class="form-control form-control-lg" type="text"
              placeholder="Your Name" />
            <ng-container *ngIf="
                register.controls.username?.errors?.required &&
                register.controls.username?.touched
              ">
              <ul class="error-messages mt-3">
                <li>Username cannot be blanked</li>
              </ul>
            </ng-container>
            <ng-container *ngIf="errName; else elseTemplate">
              <ul class="error-messages">
                <li>Username {{ errName }}</li>
              </ul>
            </ng-container>
            <ng-template #elseTemplate></ng-template>
          </fieldset>
          <fieldset class="form-group my-4">
            <input formControlName="email" class="form-control form-control-lg" type="email" placeholder="Email" />
            <ng-container *ngIf="errEmail; else emailTrue">
              <ul class="error-messages">
                <li>Email {{ errEmail }}</li>
              </ul>
            </ng-container>
            <ng-template #emailTrue></ng-template>

            <ng-container *ngIf="
                register.controls.email?.errors?.pattern &&
                register.controls.email?.touched
              ">
              <ul class="error-messages mt-3">
                <li>Invalid Email</li>
              </ul>
            </ng-container>
            <ng-container *ngIf="
                register.controls.email?.errors?.required &&
                register.controls.email?.touched
              ">
              <ul class="error-messages mt-3">
                <li>Email cannot be blanked</li>
              </ul>
            </ng-container>
          </fieldset>
          <fieldset class="form-group my-4">
            <input formControlName="password" class="form-control form-control-lg" type="password"
              placeholder="Password" />
            <ng-container *ngIf="
                register.controls.password?.errors?.required &&
                register.controls.password?.touched
              ">
              <ul class="error-messages mt-3">
                <li>A 6 digits minimum password is required</li>
              </ul>
            </ng-container>
            <ng-container *ngIf="
                register.controls.password?.errors?.minlength &&
                register.controls.password?.touched
              ">
              <ul class="error-messages mt-3">
                <li>Password must have atleast 6 charactor</li>
              </ul>
            </ng-container>
          </fieldset>
          <fieldset class="form-group my-4">
            <input formControlName="confirmPassword" class="form-control form-control-lg" type="password"
              placeholder="Confirm Password" />
            <ng-container *ngIf="register.controls.confirmPassword?.errors?.mustMatch">
              <ul class="error-messages mt-3">
                <li>Password is not matched!</li>
              </ul>
            </ng-container>
          </fieldset>
          <button type="submit" class="btn signup-btn btn-lg btn-primary float-right"
            [disabled]="register.status === 'INVALID'">
            Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>