<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-center">Sign in</h1>
        <p class="text-center">
          <button (click)="switchtoRegister()" class="switchTab-btn" >Need an account?</button>
        </p>
        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <p *ngIf="errMsg"  class="error-messages" >Invalid email or password</p>
          <fieldset class="form-group my-4">
            <input formControlName="email" class="form-control form-control-lg" type="text" placeholder="Email">
            <ng-container *ngIf="loginForm.controls.email?.errors?.required  && loginForm.controls.email?.touched ">
              <ul class="error-messages mt-3">
                <li>Email cannot be blanked</li>
              </ul>
            </ng-container>
          </fieldset>
          <fieldset class="form-group my-4">
            <input formControlName="password" class="form-control form-control-lg" type="password" placeholder="Password">
            <ng-container *ngIf="loginForm.controls.password?.errors?.required  && loginForm.controls.password?.touched ">
              <ul class="error-messages mt-3">
                <li>Password cannot be blanked</li>
              </ul>
            </ng-container>
          </fieldset>
          <button  type="submit"
          class="btn signup-btn btn-lg btn-primary float-right"
          [disabled] = "loginForm.status === 'INVALID'" class="btn signup-btn btn-lg btn-primary float-right">
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
