.float-right {
  float: right !important;
}
h1 {
  font-size: 40px;
}
ul {
  list-style-type: none;
}
a {
  color: #5cb85c;
  text-decoration: none;
}
.signup-btn {
  background-color: #5cb85c;
  border: none;
  outline: none;
}
.switchTab-btn {
  background:none;
  border: none;
  color: #5cb85c;
}
.error-messages {
  font-weight: 700;
  color: #b85c5c;
}
