<div class="article-list-container">
  <div class="article-detail py-4" *ngFor="let article of articleList">
    <div class="article-title d-flex justify-content-between pb-4">
      <div class="article-user d-flex">
        <div class="user-thumnail">
          <img [src]="article.author.image" alt="error" class="rounded-circle me-3" />
        </div>
        <div class="user">
          <a class="user-name" [routerLink]="['/profile/'+ article.author.username]">
            {{ article.author.username }}
          </a>
          <p>{{ article.createdAt | date: "longDate" }}</p>
        </div>
      </div>

      <button class="btn border" (click)="handleFavorites(article)">
        <fa-icon [icon]="faHeart"></fa-icon> {{ article.favoritesCount }}
      </button>
    </div>
    <div class="article-desc">
      <h2 class="fs-2">{{ article.title }}</h2>
      <p>{{ article.description }}</p>
      <a [routerLink]="['/article', article.slug]" class="read-more">Read more...</a>
    </div>
  </div>
</div>
<app-paginate *ngIf="articleList.length > 0" [currentPage]="pageIndex" [totalPage]="totalPage"
  (pageChange)="pageChangeHandle($event)"></app-paginate>