.article-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  .article-detail {
    width: 100%;
    &:not(:last-child) {
      border-bottom: 1px solid #dee2e6;
    }
    .article-title {
      .article-user {
        .user-thumnail {
          img {
            width: 40px;
          }
        }
        .user {
          .user-name {
            text-decoration: none;
            color: #5cb85c;
            font-size: 1.5rem;
          }
          .user-name:hover {
            text-decoration: underline;
          }
        }
      }

      .btn {
        color: #5cb85c;
        border-color: #5cb85c;
        box-shadow: none;
        &:hover {
          color: #fff;
          background-color: #5cb85c;
        }
      }
    }
    .article-desc {
      p {
        font-size: 16px;
        line-height: 1.6;
      }
      .read-more {
        color: #555;
        text-decoration: none;
      }
      .read-more:hover {
        color: #5cb85c;
        text-decoration: underline;
      }
    }
  }
}
