<div class="card mb-3" *ngFor="let comment of commentList">
  <div class="card-block">
    <p class="card-text py-3 px-4">{{ comment.body }}</p>
  </div>
  <div class="
      card-footer
      py-3
      px-4
      d-flex
      justify-content-between
      align-items-center
    ">
    <div class="d-flex align-items-center">
      <a href="#" class="comment-author">
        <img [src]="comment.author.image" class="comment-author-img rounded-circle" />
      </a>

      <a href="/profile/{{comment.author.username}}"
        class="comment-author text-decoration-none text-success px-2 hover-green">{{
        comment.author.username }}</a>
      <span class="date-posted text-black-50">{{
        comment.createdAt | date: "longDate"
        }}</span>
    </div>
    <ng-container *ngIf="comment.author.username === authorComment">
      <button class="btn btn-sm btn-outline-danger text-left" (click)="handleDeleteComment(comment.id)">
        <fa-icon [icon]="faTrashAlt"></fa-icon> Delete Comment
      </button>
    </ng-container>
  </div>
</div>