.posts-togle {
  margin: 1.5rem 0 -1px;
}

.nav-link.active {
  background: #fff !important;
  border-bottom: 2px solid #5cb85c !important;
  color: #5cb85c !important;
}

.nav-link {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid transparent;
  background: 0 0;
  color: #aaa;
  cursor: pointer;
}

.nav-link:hover {
  color: rgb(51, 50, 50);
}
