<app-profile-detail [userName]="userName"></app-profile-detail>
<div class="container">
  <div class="posts-togle">
    <ul class="nav nav-pills outline-active">
      <li class="nav-item">
        <a class="nav-link" routerLink="post" routerLinkActive="active">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="favorite" routerLinkActive="active">Favorited Posts</a>
      </li>
      <li *ngIf="userName == userNameAuth" class="nav-item">
        <a class="nav-link" routerLink="following" routerLinkActive="active">Following</a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>