.banner {
  background-color: #5cb85c;
}
.article-nav {
  .global {
    cursor: pointer;
  }
}

@media (max-width: 991px) {
  .row {
    flex-direction: column-reverse;

    .tag-list {
      padding: 20px 0;
    }
  }
}
