<div class="banner text-center py-5 text-white">
  <h2 class="fs-2">Noob Master69</h2>
  <p class="fs-5">A place to share your knowledge.</p>
</div>

<div class="article-nav border-bottom container pt-5 pb-3">
  <ul class="navbar-nav flex-row fs-5">
    <!-- <li
      class="nav-item"
      [ngClass]="{ active: isLogin }"
      *ngIf="isLogin"
      [title]="!isLogin ? 'you must login' : ''"
    >
      Your Feed
    </li> -->
    <li
      class="nav-item global me-3"
      [ngClass]="{ active: isGlobal }"
      (click)="onSelectGlobal()"
    >
      Global Feed
    </li>
    <li class="nav-item" *ngIf="tagService.currentTag.length !== 0">
      #{{ tagService.currentTag }}
    </li>
  </ul>
</div>

<div class="home-module-body container">
  <div class="row">
    <div class="article-list col-md-12 col-lg-9">
      <router-outlet></router-outlet>
    </div>
    <div class="tag-list col-md-12 col-lg-3">
      <app-tag-list></app-tag-list>
    </div>
  </div>
</div>
