

.linkTo:hover {
  color: #5cb85c;
  cursor: pointer;
}

.profile-info {
  background: #f3f3f3;
  padding: 2rem 0 1rem;
  font-size: 16px;

  .user-img {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }

  .user-name {
    font-weight: 700;
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
  }
  .user-name:hover {
    text-decoration: underline;
    color: #5cb85c;
  }
  .panel-heading {
    color: #333333;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.07);
  }
}
