<div class="profile-info text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-6">
        <img [src]="userProFile.image" class="user-img rounded-circle" />
        <a class="user-name" [routerLink]="['/profile/'+ userProFile.username]">
          <p>
            {{ userProFile.username }}
          </p>
        </a>
        <p class="text-muted">
          {{ userProFile.bio }}
        </p>
        <p *ngIf="userName != userNameAuth">
          <button *ngIf="!userProFile.following" class="btn btn-sm btn-outline-success action-btn rounded-pill"
            (click)="follow()">
            <span>&nbsp;<fa-icon [icon]="faBookMark"></fa-icon> Follow {{ userProFile.username }} </span>
          </button>
          <button *ngIf="userProFile.following" class="btn btn-sm btn-outline-secondary action-btn rounded-pill"
            (click)="unfollow()">
            <span>&nbsp; UnFollow {{ userProFile.username }} </span>
          </button>
        </p>
        <p *ngIf="userName == userNameAuth">
          <a class="text-decoration-none text-dark" [routerLink]="['update']">
            <button class="btn btn-sm btn-outline-success action-btn rounded-pill py-2">
              <fa-icon [icon]="faEdit"></fa-icon>Update profile
            </button>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>