<div class="editor-page py-5">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <form
          [formGroup]="articleForm"
          (ngSubmit)="
            !article ? handleSubmit() : handleUpdateArticle(article.slug)
          "
        >
          <fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Article Title"
                formControlName="title"
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
              />

              <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Title is required</div>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="What's this article about?"
                formControlName="description"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
              />

              <div
                *ngIf="submitted && f.description.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.description.errors.required">
                  Description is required
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <textarea
                class="form-control"
                rows="8"
                placeholder="Write your article (in markdown)"
                formControlName="body"
                [ngClass]="{ 'is-invalid': submitted && f.body.errors }"
              ></textarea>

              <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
                <div *ngIf="f.body.errors.required">Body is required</div>
              </div>
            </fieldset>
            <fieldset class="form-group" *ngIf="!article">
              <input
                type="text"
                class="form-control"
                formControlName="tagList"
                placeholder="Enter tags, tags must contain commas(,) between tags and no spaces"
              />
            </fieldset>
            <button class="btn btn-lg btn-success" type="submit">
              {{ !article ? "Publish Article" : "Update Article" }}
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
