.container-fluid {
  position: relative;
  min-height: 100vh;
  padding-bottom: 200px;

  .header {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 0 6rem;
    box-shadow: 0px 2px 3px 0px #0000001f;
    z-index: 1000;
    .navbar img {
      width: 150px;
    }
    .hover-green:hover{
      transition: 0s;
      color: #5cb85c !important;
    }
  }
  ul {
    list-style-type: none;
  }

  .footer {
    bottom: 0;
    position: absolute;
    background-color: #f3f3f3;

    img {
      width: 100px;
    }
  }

  .menu-active {
    border-bottom: 1px solid #5cb85c;
  }

  li > a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  li > a:hover {
    transition-duration: 0.5s;
  }
}
.transition-effect {
  animation: fade 0.2s linear forwards;
}
@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(5px);
  }
}
