<div class="container-fluid px-0">
  <header class="header">
    <nav class="navbar navbar-expand navbar-light py-0">
      <a class="navbar-brand text-dark" [routerLink]="['']">
        <img src="../assets/images/logo_noob.png" alt="Logo Blog" />
      </a>
      <div class="collapse navbar-collapse justify-content-end">
        <div *ngIf="isLogin; else logged">
          <ul class="navbar-nav">
            <li class="nav-item me-2 ">
              <a class="nav-link text-dark hover-green" [routerLink]="['']" routerLinkActive="menu-active"
                [routerLinkActiveOptions]="{ exact: true }"><fa-icon [icon]="faHome"></fa-icon> Home</a>
            </li>
            <ng-container *ngIf="!userName; else elseTemplate">
              <li class="nav-item me-2">
                <a class="nav-link text-dark hover-green" [routerLink]="['user/login']" routerLinkActive="menu-active"
                  [routerLinkActiveOptions]="{ exact: true }"><fa-icon [icon]="faSignInAlt"></fa-icon> Login</a>
              </li>
            </ng-container>
            <ng-template #elseTemplate>
              <li class="dropdown nav-item">
                <a class="nav-link nav-link text-dark dropdown-toggle hover-green" type="button" id="dropdownProfile"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  &nbsp;{{ userName }}
                </a>
                <ul class="dropdown-menu transition-effect" aria-labelledby="dropdownProfile">
                  <li><a [routerLink]="['/profile/'+userName]" routerLinkActive="menu-active"
                      [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item" href="#">
                      <fa-icon [icon]="faUser"></fa-icon>&nbsp;Profile
                    </a></li>
                  <li> <a [routerLink]="['/editor']" routerLinkActive="menu-active"
                      [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item" href="#">
                      <fa-icon [icon]="faEdit"></fa-icon>&nbsp;New Article
                    </a></li>
                  <li> <a [routerLink]="['/setting']" routerLinkActive="menu-active"
                      [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item" href="#">
                      <fa-icon [icon]="faCog"></fa-icon>&nbsp;Settings
                    </a></li>
                  <li> <a style="cursor: pointer; padding: 0.25rem 1rem" class="nav-link text-dark dropdown-item"
                      (click)="logOut()" routerLinkActive="menu-active" [routerLinkActiveOptions]="{ exact: true }">
                      <fa-icon [icon]="faSignOutAlt"></fa-icon>&nbsp;Log Out
                    </a></li>
                </ul>
              </li>
            </ng-template>
            <ng-container *ngIf="userName; else Logout"> </ng-container>
            <ng-template #Logout>
              <li class="nav-item">
                <a class="nav-link text-dark hover-green" [routerLink]="['user/register']" routerLinkActive="menu-active"
                  [routerLinkActiveOptions]="{ exact: true }"><fa-icon [icon]="faUserPlus"></fa-icon> Sign up</a>
              </li>
            </ng-template>
          </ul>
        </div>
        <ng-template #logged>
          <ul class="navbar-nav">
            <li class="nav-item me-2">
              <a class="nav-link text-dark" [routerLink]="['']" routerLinkActive="menu-active"
                [routerLinkActiveOptions]="{ exact: true }">New Post</a>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link text-dark" [routerLink]="['setting']" routerLinkActive="menu-active"
                [routerLinkActiveOptions]="{ exact: true }">Setting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" [routerLink]="['']" routerLinkActive="menu-active"
                [routerLinkActiveOptions]="{ exact: true }">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark hover-green" [routerLink]="['']" routerLinkActive="menu-active"
                [routerLinkActiveOptions]="{ exact: true }">Log out</a>
            </li>
          </ul>
        </ng-template>
      </div>
    </nav>
  </header>

  <div class="body">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer py-3 w-100">
    <div class="text-center container">
      <a [routerLink]="['']">
        <img src="../assets/images/logo_noob.png" alt="Logo Blog" />
      </a>

      <p class="mb-0">Code & design by Team Noob Master69</p>
    </div>
  </footer>
</div>