<div class="updateProfile">
  <div class="container">
    <h3 class="panel-heading mt-4">
      <a class="text-decoration-none text-dark" (click)="onChangePage()">
        <h4 class="panel-title linkTo">Back To User profile</h4>
      </a>
    </h3>
    <div class="text-center">
      <h1>Your Settings Profile</h1>
    </div>
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-light">
          <div class="card-body bg-light">
            <div class="container">
              <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" id="contact-form" novalidate>
                <div class="controls">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Image URL</label>
                        <input type="text" name="img-url" class="form-control" placeholder="URL of profile picture"
                          formControlName="image" />
                        <span class="text-danger mt-1" *ngIf="f.image.errors?.required">
                          Image URL is required
                        </span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Your Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Please enter your Name"
                          formControlName="username" data-error="Name is required." />
                        <span class="text-danger mt-1" *ngIf="f.username.errors?.required">
                          Name is required
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control"
                          placeholder="Please enter your Password" formControlName="password"
                          data-error="Valid Password is required." />
                        <span class="text-danger mt-1" *ngIf="f.password.errors?.required">
                          Password is required </span><span class="text-danger"
                          *ngIf="f.password.errors?.invalidPassword">
                          Password should have minimum 6 characters
                        </span>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" name="password" class="form-control"
                          placeholder="Please enter your Password" formControlName="confirmPassword"
                          data-error="Valid Password is required." />
                        <span class="text-danger" *ngIf="f.confirmPassword.errors?.required">
                          Confirm Password is required
                        </span>
                        <span class="text-danger" *ngIf="f.confirmPassword.errors?.passwordMismatch">
                          Passwords does not match
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Your Bio</label>
                        <textarea name="message" class="form-control" placeholder="Short bio about you" rows="4"
                          formControlName="bio" data-error="Please Short bio about you"></textarea>
                        <span class="text-danger mt-1" *ngIf="f.bio.errors?.required">
                          Password is required
                        </span>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <input [disabled]="!profileForm.valid" type="submit"
                        class="btn btn-primary btn-send pt-2 btn-block w-100" value="Update Profile" />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.8 -->
      </div>
      <!-- /.row-->
    </div>
  </div>
</div>