form {
  padding-top: 1rem;
  .form-group {
    margin-bottom: 16px;
  }
}

label {
  display: block;
  margin: 0.5em 0;
  font-weight: bold;
  color: #333;
}
h1 {
  margin-bottom: 40px;
}

.updateProfile {
  min-height: 800px;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
}
.btn-primary {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
}

.linkTo:hover {
  color: #5cb85c;
  cursor: pointer;
}

.panel-heading {
  width: 30%;
  font-size: 16px;
}

.panel-title {
  font-weight: 500;
}
