.paginate-container{
    display: flex;
    justify-content: center;
    .btn-page{
        width: 25px;
        height: 25px;
        border-radius: 5px;
        background-color: #e2e2e2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        margin: 0 3px;
        cursor: pointer;
        border: 2px solid #e2e2e2;
        transition: 0.3s;
    }
    .btn-page:hover{
        border: 2px solid #555;
    }
    .btn-page.active{
        background-color: greenyellow;
        opacity: 1;
        pointer-events: none;
        font-weight: 600;
    }
    .btn-page.disable{
        pointer-events: none;
        opacity: 0.5;
    }
}