<div class="paginate-container py-3">
  <button (click)="prevClick()" [ngClass]="{
      disable: currentPage === 1
    }" class="chev-prev btn-page">
    Prev
  </button>
  <button (click)="pageIndexClick(1)" [ngClass]="{
      active: currentPage === 1
    }" class="btn-page">
    1
  </button>
  <span *ngIf="currentPage > 3" class="dot">...</span>
  <button (click)="pageIndexClick(currentPage - 1)" *ngIf="currentPage > 2" class="btn-page">
    {{ currentPage - 1 }}
  </button>
  <button *ngIf="currentPage !== 1 && currentPage !== totalPage" class="btn-page active">
    {{ currentPage }}
  </button>
  <button (click)="pageIndexClick(currentPage + 1)" *ngIf="currentPage < totalPage - 1" class="btn-page">
    {{ currentPage + 1 }}
  </button>
  <span *ngIf="currentPage < totalPage - 2" class="dot">...</span>
  <button (click)="pageIndexClick(totalPage)" *ngIf="totalPage > 1" [ngClass]="{
      active: currentPage === totalPage
    }" class="btn-page">
    {{ totalPage }}
  </button>
  <button (click)="nextClick()" [ngClass]="{
      disable: currentPage === totalPage
    }" class="chev-next btn-page">
    Next
  </button>
</div>